<template>

  <div class="container">
    <h1>
      Dostawy
      <span v-if="isLoading" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
    </h1>


    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Produkt</th>
        <th scope="col">Ilość</th>
        <th scope="col">Klient</th>
        <th scope="col">Data zamówienia</th>
        <th scope="col" colspan="2">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="order in orders" :key="order.id">
        <th scope="row">{{ order.id }}</th>
        <td>{{ order.product }}</td>
        <td>{{ order.amount }} kg</td>
        <td>{{ order.client }}</td>
        <td>{{ order.order_date.toLocaleDateString() }}</td>
        <td>
          <select class="form-select" v-model="order.status">
            <option :value="'DONE'" :selected="order.status === 'DONE'">Zakończone</option>
            <option :value="'IN_PROGRESS'" :selected="order.status === 'IN_PROGRESS'">W trakcie</option>
            <option :value="'NEW'" :selected="order.status === 'NEW'">Do zrobienia</option>
          </select>
        </td>
        <td>
          <button v-on:click="updateStatus(order.id, order.status)" class="btn-outline-dark btn">
            <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Zapisz</span>
            <span v-else>Zapisz</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup lang="ts">
import 'bootstrap/js/dist/modal'
import {ref} from "vue";

const isLoading = ref(false);

loadInboundOrders()

interface Order {
  ordergroup: number;
  id: number;
  product: string;
  amount: number;
  order_date: Date;
  client: string;
  status: 'DONE' | 'IN_PROGRESS' | 'NEW';
}


const orders = ref<Order[]>([])

async function loadInboundOrders() {

  interface OrderData {
    id: number,
    orderGroup: {
      id: number;
    }
    orderDate: string,
    status: 'DONE' | 'IN_PROGRESS' | 'NEW',
    product: {
      id: number,
      name: string,
      cost: number
    },
    amount: number,
    client: {
      id: number,
      name: string,
      address: string,
      nip: number
    }
  }

  isLoading.value = true;

  try {
    const response = await fetch(`http://localhost:${global.backendPort}/api/outbound-orders`, {
      headers: {
        Authorization: `Bearer ${global.jwtToken}`
      }
    });
    console.log(response)

    console.log(orders.value)

    const ordersData: OrderData[] = await response.json()

    orders.value = ordersData.map((order) => {
      console.log(order);
      return {
        id: order.id,
        product: order.product.name,
        amount: order.amount,
        order_date: new Date(order.orderDate),
        status: order.status,
        client: order.client.name,
        ordergroup: order.orderGroup.id
      }
    })

  } catch (error) {
    console.error(error)
  } finally {
    isLoading.value = false;
  }
}

async function updateStatus(id: number, status: 'DONE' | 'IN_PROGRESS' | 'NEW') {
  try {
    const response = await fetch(`http://localhost:${global.backendPort}/api/outbound-orders/${id}`, {
      headers: {
        Authorization: `Bearer ${global.jwtToken}`
      }
    });
    const order = await response.json()
    console.log(order)
    order.status = status
    fetch(`http://localhost:${global.backendPort}/api/outbound-orders/${id}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${global.jwtToken}`
      },
      body: JSON.stringify(order)
    }).then((response) => {
      if (response.ok)
        alert("Zapisano pomyślnie!")
      else throw new Error("Network response was not ok")
    })
  } catch (error) {
    console.error('Error updating batch:', error)
    alert("Nie udało się zapisać statusu zamówienia nr. "+id)
  }
}

</script>

<style scoped>

</style>