<template>
    <div class="container">
        <h1>
            Lista zadań
            <span v-if="isLoading" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </h1>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Grupa zadań</th>
                <th>Zadania</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="task in tasks" :key="task.id" @click="showTaskDescription(task.id)">
                <td>Grupa {{ task.id }}</td>
                <td>
                    <template v-for="ordergroup in orderGroups.filter(ordergroup => ordergroup.id === task.orderGroup.id)" :key="ordergroup.id">
                        <template v-for="order in ordergroup.orders" :key="order.id">
                            <li>
                                {{ order.product.name }}, {{order.amount}} kg
                                na {{ new Date(order.orderDate).toLocaleDateString() }}
                                dla {{ order.client.name }}
                            </li>
                        </template>
                    </template>
                </td>
                <td style="width: 30%">
                    <select v-model="task.status" class="form-select" @change="updateTaskStatus(task.id, task.status, task.orderGroup.id)">
                        <option :value="'NEW'" :selected="task.status === 'NEW'">Nie zrobione</option>
                        <option :value="'IN_PROGRESS'" :selected="task.status === 'IN_PROGRESS'">W trakcie</option>
                        <option :value="'DONE'" :selected="task.status === 'DONE'">Zrobione</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script setup lang="ts">
import {ref} from 'vue';

interface Task {
    id: number,
    status: 'NEW' | 'IN_PROGRESS' | 'DONE',
    orderGroup: {
        id: number
    },
    name: string,
    description: string
}

interface OrderGroup {
    id: number,
    orders: Order[],
    price: number
}

interface Order {
    id: number,
    orderDate: string,
    status: 'NEW' | 'IN_PROGRESS' | 'DONE',
    amount: number,
    product: {
        id: number,
        name: string,
        cost: number
    },
    client: {
        id: number,
        name: string,
        address: string,
        nip: number
    }
}

const tasks = ref<Task[]>([])
const isLoading = ref(false);

const orders = ref<Order[]>([])
const orderGroups = ref<OrderGroup[]>([])

loadTasks()

const selectedTaskId = ref<number | null>(null);
const showDescription = ref(false);

function showTaskDescription(id: number) {
    selectedTaskId.value = id;
    showDescription.value = true;
}


async function loadTasks() {
    try {
        isLoading.value = true;

        const tasksPromise = await fetch(`http://localhost:${global.backendPort}/api/tasks-team`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });

        const ordersPromise = fetch(`http://localhost:${global.backendPort}/api/outbound-orders`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });

        const orderGroupsPromise = fetch(`http://localhost:${global.backendPort}/api/order-groups`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });

        const [tasksResponse, ordersResponse, orderGroupsResponse] = await Promise.all([
            tasksPromise,
            ordersPromise,
            orderGroupsPromise,
        ]);

        console.log(tasks)

        tasks.value = await tasksResponse.json();
        orders.value = await ordersResponse.json();
        orderGroups.value = await orderGroupsResponse.json();
    } catch (error) {
        console.error(error);
    } finally {
        isLoading.value = false;
    }
}

async function updateTaskStatus(taskId: number, status: string, orderGroupId: number) {
    console.log(JSON.stringify({
        status,
        orderGroup: {
            id: orderGroupId
        }
    }))

    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/tasks/${taskId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${global.jwtToken}`,
            },
            body: JSON.stringify({
                status,
                orderGroup: {
                    id: orderGroupId
                }
            }),
        });

        if (response.ok) {
            console.log('Task status updated successfully');
        } else {
            console.error('Failed to update task status:', response.status, response.statusText);
        }
    } catch (error) {
        console.error('Failed to update task status:', error);
    }
}

</script>

<style scoped>

</style>
