<template>
  <nav class="navbar navbar-expand-md navbar-lgith bg-light navbar-stretch mb-3">
    <a class="navbar-brand fw-bold ms-2 me-2" href="#">Magazynier
        <p>{{userinfo?.name}}</p>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link ms-2 me-2" href="#" v-on:click="activeComponent = WarehouseView">Stan magazynu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-2 me-2" href="#" v-on:click="activeComponent = TaskList" >Lista zadań</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-2 me-2" href="#" v-on:click="activeComponent = CompletingOrderPanel">Skompletuj zamówienie</a>
        </li>
      </ul>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Moduły
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a v-if="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#" v-on:click="swapModule(AdminPanel)">Administracja</a>
                <a v-if="hasRole('ROLE_WAREHOUSE')" class="dropdown-item" href="#" v-on:click="swapModule(WarehouseWorkerPanel)">Magazyn</a>
                <a v-if="hasRole('ROLE_MANAGER')" class="dropdown-item" href="#" v-on:click="swapModule(WarehouseManagerPanel)">Kierownictwo</a>
                <a v-if="hasRole('ROLE_OFFICE')" class="dropdown-item" href="#" v-on:click="swapModule(OfficeWorkerPanel)">Księgowość</a>
            </div>
        </div>

      <button class="btn btn-outline-dark btn me-1 ms-2 me-2" v-on:click="returnToMenu">Wyloguj</button>


    </div>
  </nav>

  <component :is="<unknown>activeComponent" />

</template>

<script setup lang="ts">
import {shallowRef} from "vue"
import WarehouseView from "../../components/WarehouseView.vue";
import TaskList from "./components/TaskList.vue";
import AdminPanel from "../admin/AdminPanel.vue";
import WarehouseManagerPanel from "../warehouseManager/WarehouseManagerPanel.vue";
import WarehouseWorkerPanel from "./WarehouseWorkerPanel.vue";
import OfficeWorkerPanel from "../officeWorker/OfficeWorkerPanel.vue"
import CompletingOrderPanel from "./components/CompletingOrderPanel.vue";
import { setUser, getUser, hasRole } from '../../user.js';

type Component = typeof WarehouseView | typeof TaskList | typeof AdminPanel | typeof WarehouseManagerPanel | typeof WarehouseWorkerPanel | typeof OfficeWorkerPanel | typeof CompletingOrderPanel

const activeComponent = shallowRef<Component>(WarehouseView)

let userinfo = getUser()

const emits = defineEmits(['return-event', 'swap-event'])

const returnToMenu = () => {
    emits('return-event');

    global.jwtToken = null
    setUser(null)
}

const swapModule = (SwappedPanel: Component) => {
    emits('swap-event', SwappedPanel)

    return SwappedPanel
}

function getToken() {
    return global.jwtToken
}
</script>



