<script setup lang="ts">
import {ref, watch} from "vue";
import {ipcRenderer} from "electron";

const localDb = ref(true);

const dbIp = ref('localhost');
const dbPort = ref('3306')
const dbName = ref('superhurtownia');
const dbUsername = ref('root');
const dbPassword = ref('');

const isLoading = ref(false);

watch(localDb, (newValue) => {
    if (newValue) {
        dbIp.value = 'localhost';
        dbPort.value = '3306';
        dbName.value = 'superhurtownia';
        dbUsername.value = 'root';
        dbPassword.value = '';
    }
})

function runBackend() {
    isLoading.value = true;
    ipcRenderer.send('run-backend', {
        localDb: localDb.value,
        dbIp: dbIp.value,
        dbPort: dbPort.value,
        dbName: dbName.value,
        dbUsername: dbUsername.value,
        dbPassword: dbPassword.value,
    });
}

ipcRenderer.on('backend-stopped', () => {
    isLoading.value = false;
})

</script>

<template>
    <div class="container">
        <form class="mt-3">
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="localDb" name="localDb" v-model="localDb">
                <label class="form-check-label" for="localDb">Użyj lokalnej bazy danych</label>
            </div>

            <div class="mb-3">
                <label class="form-label" for="dbIp">Adres IP bazy danych</label>
                <input class="form-control " type="text" id="dbIp" name="dbIp" placeholder="Adres IP bazy danych"
                       v-model="dbIp" :disabled="localDb">
            </div>
            <div class="mb-3">
                <label class="form-label" for="dbPort">Port bazy danych</label>
                <input class="form-control" type="number" id="dbPort" name="dbPort" placeholder="Port bazy danych"
                       v-model="dbPort" :disabled="localDb">
            </div>

            <div class="mb-3">
                <label class="form-label" for="dbName">Nazwa bazy danych</label>
                <input class="form-control" type="text" id="dbName" name="dbName" placeholder="Nazwa bazy danych"
                       v-model="dbName" :disabled="localDb"><br>
            </div>

            <div class="mb-3">
                <label class="form-label" for="dbUsername">Nazwa użytkownika bazy danych</label>
                <input class="form-control" type="text" id="dbUsername" name="dbUsername"
                       placeholder="Nazwa użytkownika bazy danych" v-model="dbUsername" :disabled="localDb"><br>
                <label class="form-label" for="dbPassword">Hasło bazy danych</label>
                <input class="form-control" type="password" id="dbPassword" name="dbPassword"
                       placeholder="Hasło bazy danych" v-model="dbPassword" :disabled="localDb"><br>
            </div>

            <button type="button" class="btn btn-primary" v-on:click="runBackend()">
                <span v-if="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Uruchom
            </button>
        </form>
    </div>
</template>

<style scoped>

</style>