<template>
  <div class = "container">

    <footer class="fixed-bottom text-center">
      Node.js {{ nodeVersion }},<br>
      Chromium {{ chromiumVersion }},<br>
      Electron {{ electronVersion }}
    </footer>
  </div>



</template>

<script setup lang="ts">
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap/dist/js/bootstrap.js';
import {ref} from "vue"

const nodeVersion = ref(process.versions['node'])
const chromiumVersion = ref(process.versions['chrome'])
const electronVersion = ref(process.versions['electron'])

const products = ref();

global.jwtToken = null;
console.log("Token:", global.jwtToken);
</script>

<style scoped>

</style>