<template>
    <div class="container">
        <h1>
            Stan magazynu
            <span v-if="isLoading" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </h1>
        <button type="button" class="btn btn-dark btn-sm me-1" data-bs-toggle="modal"
                data-bs-target="#createModal">
            <span v-if="productsLoading">
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                Dodaj partię
            </span>
            <span v-else>Dodaj partię</span>
        </button>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Numer partii</th>
                    <th scope="col">Nazwa produktu</th>
                    <th scope="col">Ilość w magazynie</th>
                    <th scope="col">Cena za kg</th>
                    <th scope="col">Data dostarczenia</th>
                    <th scope="col">Data ważności</th>
                    <th scope="col">Edycja</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="batch in batches" :key="batch.id">
                    <th scope="row">{{ batch.id }}</th>
                    <td>{{ batch.name }}</td>
                    <td>{{ batch.quantity }} kg</td>
                    <td>{{ batch.price }} zł</td>
                    <td>{{ batch.deliveryDate.toLocaleDateString() }}</td>
                    <td>{{ batch.expiryDate.toLocaleDateString() }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-dark btn-sm me-1" data-bs-toggle="modal"
                                data-bs-target="#editModal"
                                v-on:click="editedBatch = batch.id; editedBatchQuantity = batch.quantity">
                            <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status"
                                                         aria-hidden="true"></span>Edytuj</span>
                            <span v-else>Edytuj</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Edycja partii</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="batchEditQuantity" class="form-label">Ilość w magazynie</label>
                            <input type="number" step="any" class="form-control" id="batchEditQuantity"
                                   name="batchEditQuantity" v-model="editedBatchQuantity">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="updateBatch()">
                        Zapisz
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createModalLabel">Tworzenie partii</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="batchAddProduct" class="form-label">Produkt:</label>
                            <select id="batchAddProduct" v-model="addedProduct" class="form-control">
                                <option v-for="product in products" :key="product.id" :value="product">
                                    {{ product.name }}
                                </option>
                            </select>
                            <label for="batchAddQuantity" class="form-label">Ilość:</label>
                            <input type="number" id="batchAddQuantity" class="form-control" v-model="addedQuantity">
                            <label for="batchAddDeliveryDate" class="form-label">Data dostarczenia:</label>
                            <input type="date" id="batchAddDeliveryDate" class="form-control"
                                   v-model="addedDeliveryDate">
                            <label for="batchAddExpiryDate" class="form-label">Data ważności:</label>
                            <input type="date" id="batchAddExpiryDate" class="form-control"
                                   v-model="addedExpiryDate">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="addBatch()">
                        Zapisz
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import {ref} from "vue";

interface Batch {
    id: number;
    name: string;
    quantity: number;
    price: number;
    expiryDate: Date;
    deliveryDate: Date;
}

interface BatchData {
    id: number;
    amount: number;
    expirationDate: string;
    deliveryDate: string;
    product: Product
}

interface Product {
    id: number;
    name: string;
    cost: number;
}

const batches = ref<Batch[]>([])
const isLoading = ref(false);
const productsLoading = ref(false);

const editedBatch = ref(0)
const editedBatchQuantity = ref(0)

const products = ref<Product[]>([])

const addedProduct = ref<Product>(products.value[0])
const addedQuantity = ref(0)
const addedDeliveryDate = ref('')
const addedExpiryDate = ref('')

loadBatches()
loadProducts()

async function addBatch() {
    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/batches`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${global.jwtToken}`
            },
            body: JSON.stringify({
                product: addedProduct.value,
                amount: addedQuantity.value,
                expirationDate: addedExpiryDate.value + ' 00:00:00',
                deliveryDate: addedDeliveryDate.value + ' 00:00:00'
            })
        });

        if (response.ok) {
            loadBatches();
        } else {
            console.error(response);
            alert("Nie udało się dodać partii")
        }
    } catch (error) {
        console.error(error);
    }
}

async function loadProducts() {
    productsLoading.value = true;
    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/products`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });
        products.value = await response.json();
    } catch (error) {
        console.error(error);
    } finally {
        productsLoading.value = false;
    }
}

async function loadBatches() {
    isLoading.value = true;

    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/batches`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });
        const batchesData = await response.json();

        batches.value = batchesData.map((batch: BatchData) => {
            return {
                id: batch.id,
                name: batch.product.name,
                quantity: batch.amount,
                price: batch.product.cost,
                expiryDate: new Date(batch.expirationDate),
                deliveryDate: new Date(batch.deliveryDate),
            };
        });


    } catch (error) {
        console.error(error);
    } finally {
        isLoading.value = false;
    }
}

async function updateBatch() {
    try {
        const batchId = editedBatch.value;
        const batchQuantity = editedBatchQuantity.value;
        if (batchQuantity === 0) {
            if (confirm("Czy na pewno chcesz usunąć partię?")) {
                fetch(`http://localhost:${global.backendPort}/api/batches/${batchId}`, {
                    method: 'DELETE',
                    headers: {
                        Authorization: `Bearer ${global.jwtToken}`
                    }
                }).then((response) => {
                    if (response.ok) {
                        loadBatches();
                    } else
                        throw new Error('Network response was not ok');
                });
            }
            return;
        }
        const response = await fetch(`http://localhost:${global.backendPort}/api/batches/${batchId}`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });
        const batch = await response.json();
        batch.amount = batchQuantity;
        fetch(`http://localhost:${global.backendPort}/api/batches/${batchId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${global.jwtToken}`
            },
            body: JSON.stringify(batch),
        }).then((response) => {
            if (response.ok) {
                loadBatches();
            } else
                throw new Error('Network response was not ok');
        });
    } catch (error) {
        console.error('Error updating batch:', error);
    }
}
</script>

<style scoped>

</style>