<template>

    <div class="container">
        <h1>
            Lista produktów
            <span v-if="isLoading" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </h1>

        <nav>
            <button  v-if="!isLoading" class="btn btn-dark btn-sm m-1" data-bs-toggle="modal" data-bs-target="#addModal">
                Dodaj produkt
            </button>
            <button v-else type="button" class="btn btn-dark btn-sm m-1" disabled>
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                Dodaj zespół
            </button>
        </nav>

        <table class ="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Cena za kg</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="product in products" :key="product.id">
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.cost }} zł</td>
                <td class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-dark btn-sm me-1" data-bs-toggle="modal" data-bs-target="#editModal" v-on:click="editProduct(product)">
                        <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Edytuj</span>
                        <span v-else>Edytuj</span>
                    </button>
                    <button type="button" class="btn btn-outline-dark btn-sm me-1" data-bs-toggle="modal" data-bs-target="#deleteModal" v-on:click="deleteProductId = product.id">
                        <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Usuń</span>
                        <span v-else>Usuń</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Edycja produktu</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="id" name="id">
                        <div class="mb-3">
                            <label for="productName" class="form-label">Nazwa produktu</label>
                            <input type="text" class="form-control" id="productEditName" name="productName" placeholder="Nazwa produktu">
                        </div>
                        <div class="mb-3">
                            <label for="productName" class="form-label">Cena za kg</label>
                            <input type="text" class="form-control" id="productEditPrice" name="productPrice" placeholder="Cena">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="editProductSubmit(editProductElement)">Zapisz</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Na pewno?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Na pewno chcesz usunąć ten produkt?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="deleteProduct(deleteProductId)">Usuń</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Dodawanie produktów</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="id" name="id">
                        <div class="mb-3">
                            <label for="firstName" class="form-label">Nazwa produktu</label>
                            <input type="text" class="form-control" id="productAddName" name="productName" placeholder="Nazwa produktu">
                        </div>
                        <div class="mb-3">
                            <label for="productName" class="form-label">Cena za kg</label>
                            <input type="text" class="form-control" id="productAddPrice" name="productPrice" placeholder="Cena">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="addProduct()">Dodaj</button>
                </div>
            </div>
        </div>
    </div>

</template>

<script setup lang="ts">
import {ref} from "vue"

interface Product {
    id: number,
    name: string,
    cost: number
}

let deleteProductId = ref(0)
let editProductElement = ref<Product>({
    id: 0,
    name: "",
    cost: 0
})
const products = ref<Product[]>([])
const isLoading = ref(false);

loadProducts()

async function loadProducts() {
    try {
        isLoading.value = true;

        const response = await fetch(`http://localhost:${global.backendPort}/api/products`, {
            headers: {
                'Authorization': `Bearer ${global.jwtToken}`,
                'Content-Type': 'application/json'
            }
        });

        console.log(response);

        console.log(products.value);

        products.value = await response.json();
    } catch (error) {
        console.error(error);
    } finally {
        isLoading.value = false;
    }
}

function deleteProduct(id: number) {
    fetch(`http://localhost:${global.backendPort}/api/products/${id}`, {
        method: "DELETE",
        headers: {
            'Authorization': `Bearer ${global.jwtToken}`,
            'Content-Type': 'application/json'
        }
    })
        .then((response) => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }

            loadProducts();
        })
        .catch((error) => {
            console.error("Error deleting product:", error);
        });
}

function addProduct(){
    const productNameInput = document.getElementById("productAddName") as HTMLInputElement;
    const productPriceInput = document.getElementById("productAddPrice") as HTMLInputElement;

    const name = productNameInput.value
    const cost = productPriceInput.value
    const product = {name, cost};

    const isLoading = ref(false);

    console.log(product)

    fetch(`http://localhost:${global.backendPort}/api/products`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Authorization": `Bearer ${global.jwtToken}`
        },
        body: JSON.stringify(product),
    })
        .then((response) => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }

            loadProducts();
        })
        .catch((error) => {
            console.error("Error adding product:", error);
        });
}

function editProduct(product: Product){
    const productNameInput = document.getElementById("productEditName") as HTMLInputElement;
    const productPriceInput = document.getElementById("productEditPrice") as HTMLInputElement;

    productNameInput.value = product.name;
    productPriceInput.value = product.cost.toString();

    editProductElement.value = product;
}

async function editProductSubmit(product: Product) {
    const productNameInput = document.getElementById("productEditName") as HTMLInputElement;
    const productPriceInput = document.getElementById("productEditPrice") as HTMLInputElement;

    let name = productNameInput.value;
    let cost = parseFloat(productPriceInput.value);
    if(cost < 0) { cost = Math.abs(cost)}

    console.log(product.id,", ", name, " ", cost);

    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/products/${product.id}`, {
            method: 'PUT',
            body: JSON.stringify({ name, cost }),
            headers: {
                'Content-Type': 'application/json',
                "Authorization": `Bearer ${global.jwtToken}`
            },
        });

        loadProducts();

        const updatedProduct = await response.json();
        console.log(`Product with ID ${updatedProduct.id} has been updated.`);
    } catch (error) {
        console.error(`Error updating product: ${error}`);
    }
}

</script>

<style scoped>

</style>