<template>
    <div class="container">
        <h1>
            Zespoły magazynowe
            <span v-if="isLoading" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </h1>
        <nav>
            <button v-if="!isLoading" type="button" class="btn btn-dark btn-sm m-1" data-bs-toggle="modal" data-bs-target="#addModal">
                Dodaj zespół
            </button>
            <button v-else type="button" class="btn btn-dark btn-sm m-1" disabled>
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                Dodaj zespół
            </button>
        </nav>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Przypisani pracownicy</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="team in teams" :key="team.id">
                <th scope="row">{{ team.id }}</th>
                <td>{{ team.name }}</td>
                <td>{{ team.workers.length }}
                    <button type="button" name="showTeamWorkersButton" class="btn btn-outline-dark btn-sm me-1 float-end" data-bs-toggle="modal" data-bs-target="#viewModal" v-on:click="selectTeam(team)" :disabled="isLoading">
                        <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Wyświetl</span>
                        <span v-else>Wyświetl</span>
                    </button>
                </td>
                <td class="d-flex justify-content-end">
                    <button type="button" name="editTeamButton" class="btn btn-outline-dark btn-sm me-1" data-bs-toggle="modal" data-bs-target="#editModal" v-on:click="editTeam(team)" :disabled="isLoading">
                      <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Edytuj</span>
                      <span v-else>Edytuj</span>
                    </button>
                    <button type="button" class="btn btn-outline-dark btn-sm me-1" data-bs-toggle="modal" data-bs-target="#deleteModal" v-on:click="deleteTeamId = team.id" :disabled="isLoading">
                      <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Usuń</span>
                      <span v-else>Usuń</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Edycja zespołu</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="id" name="id">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nazwa</label>
                            <input type="text" class="form-control" id="teamEditName" name="name">
                        </div>

                        <div class="d-flex align-items-center" v-if="!isLoading">
                            <select class="form-select" v-model="selectedUser" >
                                <option v-for="user in usersWithoutTeam" :value="user.id" :key="user.id">{{ user.name }}</option>
                            </select>
                            <button type="button" class="btn btn-outline-dark btn-sm me-1" v-on:click="addUserToTeam(selectedTeam)">
                                Dodaj
                            </button>
                        </div>

                        <div class="mb-3">
                            <label for="users" class="form-label"></label>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Użytkownicy</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="user in selectedTeam.workers" :key="user.id">
                                    <td>{{ user.name }}</td>
                                    <td class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-outline-dark d-flex btn-sm me-1" v-on:click="() => removeWorkerFromGroup(selectedTeam, user.id)" v-if="!isLoading">
                                            Usuń
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="editTeamSubmit(editTeamElement)" :disabled="isLoading">
                        <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Zapisz</span>
                        <span v-else>Zapisz</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addModalLabel">Dodawanie zespołu</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="id" name="id">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nazwa</label>
                            <input type="text" class="form-control" id="teamAddName" name="name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="addTeam">Zapisz</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="viewModalLabel">Pracownicy w grupie</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Użytkownik</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="worker in selectedTeam.workers" :key="worker.id">
                            <th scope="row">{{ worker.id }}</th>
                            <td>{{ worker.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Na pewno?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Na pewno chcesz usunąć ten zespół
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="deleteTeam(deleteTeamId)">Usuń</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import 'bootstrap/js/dist/modal'
import {computed, Ref, ref, unref} from 'vue'

interface Team {
    id: number,
    name: string,
    workers: User[],
    tasks: Task[]
}

interface User {
    id: number;
    name: string;
    roles: string[]
}
interface Task {
    id: number,
    status: 'NEW' | 'IN_PROGRESS' | 'DONE',
    orderGroup: number
}

interface Role {
    id: number;
    name: string;
}

const isLoading = ref(false);

loadTeams()

const selectedUser = ref(0);
const selectedTeam = ref<Team>({
    id: 0,
    name: '',
    workers: [],
    tasks: []
});


const deleteTeamId = ref(0)
const editTeamElement = ref<Team>({
    id: 0,
    name: '',
    workers: [],
    tasks: []
})


const teams = ref<Team[]>([])
const users = ref<User[]>([])
const roleTextMap = {
    ROLE_MANAGER: 'Kierownik',
    ROLE_WAREHOUSE: 'Magazynier',
    ROLE_OFFICE: 'Księgowość',
    ROLE_ADMIN: 'Administrator'
}

function findRoleByName(rolesJson: string, roleName: string): boolean {
    const roles: Role[] = JSON.parse(rolesJson);

    return roles.some((role) => role.name === roleName);
}

const usersWithoutTeam = computed(() => {
    const assignedUserIds = teams.value.flatMap((team) =>
        team.workers.map((worker) => worker.id)
    );

    return users.value.filter((user) => {
        const isNotAssignedToTeam = !assignedUserIds.includes(user.id);
        const hasRoleWarehouse = findRoleByName(JSON.stringify(user.roles), 'ROLE_WAREHOUSE');
        const hasRoleManager = findRoleByName(JSON.stringify(user.roles), 'ROLE_MANAGER');

        return isNotAssignedToTeam && (hasRoleWarehouse || hasRoleManager);
    });
});

function selectTeam(team: Team) {
    selectedTeam.value = team;
}

function getRoleText(roleName: 'ROLE_MANAGER' | 'ROLE_WAREHOUSE' | 'ROLE_OFFICE' | 'ROLE_ADMIN') {
    return roleTextMap[roleName] || roleName;
}

async function loadTeams() {
    try {
        isLoading.value = true;

        const teamsResponse = await fetch(`http://localhost:${global.backendPort}/api/warehouse-teams`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });
        const usersResponse = await fetch(`http://localhost:${global.backendPort}/api/users`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });

        teams.value = await teamsResponse.json();
        users.value = await usersResponse.json();

    } catch (error) {
        console.error(error);
    } finally {
        isLoading.value = false;
    }
}

function addUserToTeam(team: Team) {
    if (selectedUser.value) {
        const user = users.value.find((user) => user.id === selectedUser.value);
        if (user) {
            selectedTeam.value.workers = [...team.workers, user];
            selectedUser.value;
        }
    }
}
function removeWorkerFromGroup(team: Team, userId: number) {
    selectedTeam.value.workers = team.workers.filter((user) => user.id !== userId);
}
function deleteTeam(id: number) {
    console.log(`Deleting team with ID ${id}`)

    fetch(`http://localhost:${global.backendPort}/api/warehouse-teams/${id}`, {
        method: "DELETE",
        headers: {
            "Authorization": `Bearer ${global.jwtToken}`
        },
    })
    .then((response) => {
        if (!response.ok) {
            throw new Error("Network response was not ok");
        }

        loadTeams();
    })
    .catch((error) => {
        console.error("Error deleting team:", error);
    });
}

function addTeam(){
    const teamNameInput = document.getElementById("teamAddName") as HTMLInputElement;

    const name = teamNameInput.value;

    const team = { name };

    console.log(team.name)
    console.log(JSON.stringify(team))

    fetch(`http://localhost:${global.backendPort}/api/warehouse-teams`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Authorization": `Bearer ${global.jwtToken}`
        },
        body: JSON.stringify(team),
    })
        .then((response) => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }

            loadTeams();
        })
        .catch((error) => {
            console.error("Error adding user:", error);
        });
}

function editTeam(team: Team){
    const teamNameInput = document.getElementById("teamEditName") as HTMLInputElement;
    selectTeam(team)

    teamNameInput.value = team.name;
    console.log(usersWithoutTeam)

    editTeamElement.value = team;
}

async function editTeamSubmit(team: Team) {
    const teamNameInput = document.getElementById("teamEditName") as HTMLInputElement;

    team.name = teamNameInput.value;

    console.log(JSON.stringify(team));

    try {
        await fetch(`http://localhost:${global.backendPort}/api/warehouse-teams/${team.id}`, {
            method: 'PUT',
            body: JSON.stringify(team),
            headers: {
                'Content-Type': 'application/json',
                "Authorization": `Bearer ${global.jwtToken}`
            },
        });

        loadTeams();

    } catch (error) {
        console.error(`Error updating product: ${error}`);
    }
}

</script>

<style scoped>

</style>