<template>

  <div class="container">
    <h1>
        Lista użytkowników
        <span v-if="isLoading" class="spinner-border text-primary" role="status">
           <span class="visually-hidden">Loading...</span>
         </span>
    </h1>
    <nav>
        <button v-if="!isLoading" type="button" class="btn btn-dark btn-sm m-1" data-bs-toggle="modal" data-bs-target="#addModal">
            Dodaj użytkownika
        </button>
        <button v-else type="button" class="btn btn-dark btn-sm m-1" disabled>
            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
            Dodaj użytkownika
        </button>
    </nav>

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Użytkownik</th>
        <th scope="col">Rola</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user in users" :key="user.id">
          <th scope="row">{{ user.id }}</th>
            <td>{{user.name}}</td>
            <td>
              <span v-for="(role, index) in user.roles" :key="index">
                {{ roleTextMap[role.name] }}
                <span v-if="index < user.roles.length - 1">, </span>
              </span>
            </td>
          <td></td>
          <td>
            <button v-if="!isLoading" type="button" class="btn btn-outline-dark btn-sm me-1" data-bs-toggle="modal" data-bs-target="#editModal" v-on:click="editUser(user)">
                Edytuj
            </button>
            <button v-else type="button" class="btn btn-outline-dark btn-sm me-1" disabled>
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                Edytuj
            </button>
          </td>
          <td>
            <button v-if="!isLoading" type="button" class="btn btn-outline-dark btn-sm me-1" data-bs-toggle="modal" data-bs-target="#deleteModal" v-on:click="deleteUserId = user.id">
                Usuń
            </button>
            <button v-else type="button" class="btn btn-outline-dark btn-sm me-1" disabled>
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                Usuń
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Edycja użytkownika</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="id" name="id">
                        <div class="mb-3">
                            <label for="userEditName" class="form-label">Imię</label>
                            <input type="text" class="form-control" id="userEditName" name="userEditName" placeholder="Imię">
                        </div>
                        <div class="mb-3">
                            <label for="userEditRole" class="form-label">Role</label>
                            <table>
                                <tbody>
                                <tr v-for="role in roles" :key="role.id">
                                    <td>{{ roleTextMap[role.name] || role.name }}</td>
                                    <input type="checkbox" :value="role.id" v-model="selectedRoles" :id="'editCheckbox-' + role.id">
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="editUserSubmit(editUserElement)">Zapisz</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Na pewno?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Na pewno chcesz usunąć tego użytkownika?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="deleteUser(deleteUserId)">Usuń</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Dodawanie użytkownika</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="id" name="id">
                        <div class="mb-3">
                            <label for="userAddName" class="form-label">Imię</label>
                            <input type="text" class="form-control" id="userAddName" name="userAddName" placeholder="Użytkownik">
                        </div>
                        <div class="mb-3">
                            <label for="userAddPassword" class="form-label">Hasło</label>
                            <input type="text" class="form-control" id="userAddPassword" name="userAddPassword" placeholder="Hasło">
                        </div>
                        <div class="mb-3">
                            <label for="userAddRole" class="form-label">Role</label>
                            <table>
                                <tbody>
                                <tr v-for="role in roles" :key="role.id">
                                    <td>{{ roleTextMap[role.name] || role.name }}</td>
                                    <td>
                                        <input type="checkbox" :value="role.id" v-model="selectedAddRoles">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="addUser">Dodaj</button>
                </div>
            </div>
        </div>
    </div>

  </template>

  <script setup lang="ts">
  import 'bootstrap/js/dist/modal'
  import { ref } from "vue"

  interface User {
      id: number,
      name: string,
      roles: Role[]
  }

  interface Role {
      id: number,
      name: 'ROLE_MANAGER' | 'ROLE_WAREHOUSE' | 'ROLE_OFFICE' | 'ROLE_ADMIN'
  }

  let deleteUserId = ref(0)
  let editUserElement = ref<User>({
      id: 0,
      name: '',
      roles: []
  })

  const isLoading = ref(false);
  const users = ref<User[]>([])
  const roles = ref<Role[]>([])
  const rolesLoaded = ref(false)
  const roleTextMap = {
      ROLE_MANAGER: 'Kierownik',
      ROLE_WAREHOUSE: 'Magazynier',
      ROLE_OFFICE: 'Księgowość',
      ROLE_ADMIN: 'Administrator'
  }
  const selectedRoles = ref<number[]>([]);
  const selectedAddRoles = ref([]);


  loadUsers()

  async function loadUsers() {
      try {
          isLoading.value = true;

          const responseUsers = await fetch(`http://localhost:${global.backendPort}/api/users`, {
              headers: {
                  Authorization: `Bearer ${global.jwtToken}`
              }
          });
          const responseRoles = await fetch(`http://localhost:${global.backendPort}/api/roles`, {
              headers: {
                  Authorization: `Bearer ${global.jwtToken}`
              }
          });

          users.value = await responseUsers.json();
          roles.value = await responseRoles.json();

          rolesLoaded.value = true;
      } catch (error) {
          console.error(error);
      } finally {
          isLoading.value = false;
      }
  }

  function addUser() {
      const userNameInput = document.getElementById("userAddName") as HTMLInputElement;
      const passwordInput = document.getElementById("userAddPassword") as HTMLInputElement;

      const name = userNameInput.value;
      const password = passwordInput.value;
      const roles = selectedAddRoles.value;

      console.log("Selected roles:", roles);

      const user = { name, password, roles };
      console.log("User being sent:", user);
      console.log("User being sent raw:", JSON.stringify(user));

      fetch(`http://localhost:${global.backendPort}/api/users`, {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
              "Authorization": `Bearer ${global.jwtToken}`
          },
          body: JSON.stringify(user),
      })
          .then((response) => {
              if (!response.ok) {
                  throw new Error("Network response was not ok");
              }

              loadUsers();
          })
          .catch((error) => {
              console.error("Error adding user:", error);
          });
  }

  function deleteUser(id: number) {
      console.log(`Deleting user with ID ${id}`)


      fetch(`http://localhost:${global.backendPort}/api/users/${id}`, {
          method: "DELETE",
          headers: { "Authorization": `Bearer ${global.jwtToken}` },
      })
          .then((response) => {
              if (!response.ok) {
                  throw new Error("Network response was not ok");
              }

              loadUsers();
          })
          .catch((error) => {
              console.error("Error deleting product:", error);
          });
  }

  function editUser(user: User) {
      editUserElement.value = { ...user };

      const userNameInput = document.getElementById("userEditName") as HTMLInputElement;
      userNameInput.value = user.name;

      selectedRoles.value = user.roles.map(role => role.id);

      const checkboxes: NodeListOf<HTMLInputElement> = document.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach(checkbox => {
          checkbox.checked = false;
      });

      user.roles.forEach(role => {
          const checkbox = document.getElementById(`editCheckbox-${role.id}`) as HTMLInputElement;
          if (checkbox) {
              checkbox.checked = true;
          }
      });
  }

  async function editUserSubmit(user: User) {
      const name = document.getElementById("userEditName") as HTMLInputElement;

      const updatedUser = {
          id: user.id,
          name: name.value,
          roles: selectedRoles.value
      };

      console.log("Updated User:", updatedUser);
      console.log("Selected roles: ", selectedRoles.value);
      console.log("Updated User:", JSON.stringify(updatedUser));

      try {
          const response = await fetch(`http://localhost:${global.backendPort}/api/users/${updatedUser.id}`, {
              method: 'PUT',
              headers: { 'Content-Type': 'application/json', "Authorization": `Bearer ${global.jwtToken}` },
              body: JSON.stringify(updatedUser),
          });

          if (!response.ok) {
              throw new Error('Network response was not ok');
          }

          loadUsers()

          const responseData = await response.json();
          selectedRoles.value = responseData.roles;

          console.log(`User with ID ${updatedUser.id} has been updated.`);
      } catch (error) {
          console.error(`Error updating user: ${error}`);
      }
  }



  </script>

  <style scoped>

  </style>