<template>

    <nav class="navbar navbar-expand-md navbar-lgith bg-light navbar-stretch mb-3">
        <a class="navbar-brand fw-bold ms-2 me-2" href="#">Administrator
            <p>{{userinfo?.name}}</p>
        </a>


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link ms-2 me-2" href="#" v-on:click="activeComponent = UserPanel">Użytkownicy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-2 me-2" href="#" v-on:click="activeComponent = TeamPanel">Zespoły
                        magazynowe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-2 me-2" href="#" v-on:click="activeComponent = ProductList">Lista
                        produktów</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-2 me-2" href="#" v-on:click="activeComponent = WarehouseView">Stan
                        magazynu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-2 me-2 " data-bs-toggle="modal" data-bs-target="#seedModal" href="#" v-on:click="">Wypełnij bazę</a>
                </li>
            </ul>


            <div class="modal fade" id="seedModal" tabindex="-1" aria-labelledby="seedModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="seedModalLabel">Uwaga!</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Po zatwierdzeniu, baza danych zostanie wypełniona przykładowymi danymi. Czy na pewno chcesz tego dokonać?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                                <button type="submit" class="btn btn-primary" :disabled="isLoading" v-on:click="seedDatabase()">
                                    <span v-if="isLoading">
                                      <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Wypełnianie</span>
                                    <span v-else>Wypełnij</span>
                                </button>
                            </div>
                            <div v-if="successMessage" class="alert alert-success mb-0">
                                {{ successMessage }}
                            </div>
                            <div v-if="errorMessage" class="alert alert-danger mb-0">
                                {{ errorMessage }}
                            </div>
                        </div>
                    </div>
            </div>


            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Moduły
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a v-if="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#" v-on:click="swapModule(AdminPanel)">Administracja</a>
                    <a v-if="hasRole('ROLE_WAREHOUSE')" class="dropdown-item" href="#" v-on:click="swapModule(WarehouseWorkerPanel)">Magazyn</a>
                    <a v-if="hasRole('ROLE_MANAGER')" class="dropdown-item" href="#" v-on:click="swapModule(WarehouseManagerPanel)">Kierownictwo</a>
                    <a v-if="hasRole('ROLE_OFFICE')" class="dropdown-item" href="#" v-on:click="swapModule(OfficeWorkerPanel)">Księgowość</a>
                </div>
            </div>

            <button class="btn btn-outline-dark btn me-1 ms-2 me-2" v-on:click="returnToMenu">Wyloguj</button>
        </div>

    </nav>

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light shadow-3 p-4">
            <button class="btn btn-link btn-block border-bottom m-0">Link 1</button>
            <button class="btn btn-link btn-block border-bottom m-0">Link 2</button>
            <button class="btn btn-link btn-block m-0">Link 3</button>
        </div>
    </div>

    <component :is="<unknown>activeComponent"/>
</template>

<script setup lang="ts">
import {ref, shallowRef} from "vue"
import UserPanel from "./components/UserPanel.vue"
import TeamPanel from "./components/TeamPanel.vue"
import ProductList from "./components/ProductList.vue"
import WarehouseView from "../../components/WarehouseView.vue";
import AdminPanel from "./AdminPanel.vue";
import WarehouseWorkerPanel from "../warehouseWorker/WarehouseWorkerPanel.vue";
import WarehouseManagerPanel from "../warehouseManager/WarehouseManagerPanel.vue";
import OfficeWorkerPanel from "../officeWorker/OfficeWorkerPanel.vue"
import { setUser, getUser, hasRole } from '../../user.js';

type Component = typeof UserPanel | typeof TeamPanel | typeof ProductList | typeof WarehouseView | typeof AdminPanel | typeof WarehouseWorkerPanel | typeof WarehouseManagerPanel | typeof OfficeWorkerPanel

const isLoading = ref(false);
const successMessage = ref("");
const errorMessage = ref("");
const activeComponent = shallowRef<Component>(UserPanel)

let userinfo = getUser()
console.log("Geting user in component: ", userinfo)

const emits = defineEmits(['return-event', 'swap-event'])

function returnToMenu() {
    emits('return-event');

    global.jwtToken = null
    setUser(null)
}

function swapModule(SwappedPanel: {}) {
    emits('swap-event', SwappedPanel)

    return SwappedPanel
}

function getToken() {
    return global.jwtToken
}

async function seedDatabase() {
    isLoading.value = true;

    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/dbseed`, {
            method: 'GET',
            headers: {
                Authorization: `Bearer ${global.jwtToken}`,
                'Content-Type': 'application/json',
            },
        });

        if (response.status === 201) {
            console.log('Database seeded successfully');
            successMessage.value = 'Wypełniono bazę danych';
            setTimeout(() => {
                successMessage.value = '';
            }, 5000);

        }
    } catch (error) {
        console.error('Failed to seed database:', error);
        errorMessage.value = 'Nie udało się wypełnić bazy danych. Sprawdź, czy baza danych jest uruchomiona';
        setTimeout(() => {
            errorMessage.value = '';
        }, 5000);
    } finally {
        isLoading.value = false;
    }
}
</script>

<style scoped>


</style>