<script setup lang="ts">
import {ref} from "vue";

interface Client {
  id: number,
  name: string,
  address: string,
  nip: number
}

const isLoading = ref(false);
const clients = ref<Client[]>([]);

async function getClient() {
    isLoading.value = true;

    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/clients`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });

        if (response.ok) {
            clients.value = await response.json();
        } else {
            console.error('Failed to fetch clients:', response.status, response.statusText);
        }
    } catch (error) {
        console.error('Failed to fetch clients:', error);
    } finally {
        isLoading.value = false;
    }
}

const newClient = ref<Client>({address: "", id: 0, name: "", nip: 0});
const editedClient = ref<Client>({address: "", id: 0, name: "", nip: 0});
const removeClientId = ref(0);
function addClient() {
  console.log(newClient.value);

  fetch(`http://localhost:${global.backendPort}/api/clients`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
        Authorization: `Bearer ${global.jwtToken}`
    },
    body: JSON.stringify(newClient.value)
  })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok")
        }

        getClient();
      })
      .catch((error) => {
        console.error("Error adding product:", error)
      });
}

function editClient() {
  fetch(`http://localhost:${global.backendPort}/api/clients/${editedClient.value.id}`, {
    method: "PUT",
    headers: {
      "Content-Type": "application/json",
        Authorization: `Bearer ${global.jwtToken}`
    },
    body: JSON.stringify(editedClient.value)
  })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok")
        }

        getClient();
      })
      .catch((error) => {
        console.error("Error updating product:", error)
      });
}

function removeClient(id: number) {
    fetch(`http://localhost:${global.backendPort}/api/clients/${id}`, {
        method: "DELETE",
        headers: {
            Authorization: `Bearer ${global.jwtToken}`
        }
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok")
        }

        getClient();
      })
      .catch((error) => {
        console.error("Error Delete product:", error)
      });
}

getClient()
</script>

<template>
  <div class="container">
    <h1>
        Klienci
        <span v-if="isLoading" class="spinner-border text-primary" role="status">
           <span class="visually-hidden">Loading...</span>
         </span>
    </h1>
    <nav>
      <button class="btn btn-dark btn-sm m-1" data-bs-toggle="modal" data-bs-target="#addModal">
        Dodaj Klienta
      </button>
    </nav>
    <table class="table table-striped table-hover table-condensed">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nazwa klient</th>
        <th>Adres</th>
        <th>Nip</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="client in clients" :key="client.id">
        <td>{{ client.id }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.address }}</td>
        <td>{{ client.nip }}</td>
        <td>
          <button type="button" class="btn btn-outline-dark btn-sm me-1" data-bs-toggle="modal" data-bs-target="#editModal" v-on:click="editedClient = {id: client.id, name: client.name, address: client.address, nip: client.nip}" :disabled="isLoading">
              <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Edytuj</span>
              <span v-else>Edytuj</span>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" v-on:click="removeClientId = client.id" :disabled="isLoading">
              <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Usuń</span>
              <span v-else>Usuń</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Na pewno?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Na pewno chcesz usunąć tego klienta?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"  v-on:click="removeClient(removeClientId)">Usuń</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addModalLabel">Dodawanie klientów</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <input v-model = "newClient.id" type="hidden" id="id" name="id">
            <div class="mb-3">
              <label for="clientName" class="form-label">Nazwa klienta</label>
              <input v-model = "newClient.name" type="text" class="form-control" id="clientAddName" name="clientName" placeholder="Nazwa klienta">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Adres</label>
              <input v-model = "newClient.address" type="text" class="form-control" id="clientAddAddress" name="clientAddress" placeholder="Adres">
            </div>
            <div class="mb-3">
              <label for="nip" class="form-label">Nip</label>
              <input v-model = "newClient.nip" type="number" class="form-control" id="clientAddNip" name="clientNip" placeholder="Nip">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="addClient()">Dodaj</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editModalLabel">Edytowanie klientów</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <input v-model = "editedClient.id" type="hidden" id="id" name="id">
            <div class="mb-3">
              <label for="clientName" class="form-label">Nazwa klienta</label>
              <input v-model = "editedClient.name" type="text" class="form-control" id="clientEditName" name="clientName" placeholder="Nazwa klienta">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Adres</label>
              <input v-model = "editedClient.address" type="text" class="form-control" id="clientEditAddress" name="clientAddress" placeholder="Adres">
            </div>
            <div class="mb-3">
              <label for="nip" class="form-label">Nip</label>
              <input v-model = "editedClient.nip" type="number" class="form-control" id="clientEditNip" name="clientNip" placeholder="Nip">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="editClient()">Zapisz</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>