<script setup lang="ts">

import {ref} from "vue";

interface Product {
    id: number,
    name: string,
    cost: number
}

const isLoading = ref(false);
const selectedDate = ref("");

const products = ref<Product[]>([]);
loadProducts();

const selectedProduct = ref<Product>(products.value[0]);
const quantity = ref(0);

async function createOrder() {
    isLoading.value = true;

    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/inbound-orders`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${global.jwtToken}`
            },
            body: JSON.stringify({
                orderDate: selectedDate.value+' 00:00:00',
                product: selectedProduct.value,
                amount: quantity.value,
                status: 'NEW'
            })
        });
        if (response.ok) {
            alert("Zamówienie zostało utworzone");
        } else {
            alert("Nie udało się utworzyć zamówienia");
        }
    } catch (error) {
        console.error(error);
    } finally {
        isLoading.value = false;
    }
}

async function loadProducts() {
    isLoading.value = true;

    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/products`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });
        products.value = await response.json();
    } catch (error) {
        console.error(error);
    } finally {
        isLoading.value = false;
    }
}
</script>

<template>
    <div class="container">
        <h1>
            Utwórz zamówienie
            <span v-if="isLoading" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </h1>
        <form>
            <label style="margin-right: 1em;">Data:</label>
            <input type="date" v-model="selectedDate" id="orderDate" style="margin-right: 1em;" class="form-control-sm">
            <br>
            <br>
            <label for="product" style="margin-right: 1em;">Wybierz produkt:</label>
            <select id="product" v-model="selectedProduct" style="margin-right: 1em;" class="form-control-sm">
                <option v-for="product in products" :key="product.id" :value="product">{{ product.name }}</option>
            </select>
            <label for="quantity" style="margin-right: 1em;">Ilość:</label>
            <input type="number" id="quantity" v-model="quantity" style="margin-right: 1em;" class="form-control-sm">kg<br><br>
            <button type="button" v-on:click="createOrder()" class="btn btn-outline-dark btn-sm me-1" :disabled="isLoading">
                <span v-if="isLoading">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                </span>
                Dodaj zamówienie
            </button>
        </form>
        <br>
    </div>
</template>

<style scoped>

</style>