<template>
    <div class="container">
        <h1>
            Utwórz zamówienie
            <span v-if="isLoading" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </h1>
        <form>
            <label for="customer" style="margin-right: 1em;">Wybierz klienta:</label>
            <select id="customer" v-model="selectedClients" style="margin-right: 1em;" class="form-control-sm">
                <option v-for="client in clients" :key="client.id" :value="client">{{ client.name }}</option>
            </select>
            <label style="margin-right: 1em;">Data:</label>
            <input type="date" v-model="selectedDate" id="orderDate" style="margin-right: 1em;" class="form-control-sm">
            <br>
            <br>
            <label for="product" style="margin-right: 1em;">Dodaj produkt:</label>
            <select id="product" v-model="selectedProduct" style="margin-right: 1em;" class="form-control-sm">
                <option v-for="product in products" :key="product.id" :value="product">{{ product.name }},
                    {{ (product.cost).toFixed(2) }} zł
                </option>
            </select>
            <label for="quantity" style="margin-right: 1em;">Ilość:</label>
            <input type="number" id="quantity" v-model="quantity" style="margin-right: 1em;" class="form-control-sm">
            <button type="button" @click="addProduct" class="btn btn-outline-dark btn-sm me-1">Dodaj produkt</button>
        </form>
        <br>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Nazwa produktu</th>
                <th>Ilość</th>
                <th>Cena za kg</th>
                <th>Cena</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="product in addedProducts" :key="product.id">
                <td>{{ product.name }}</td>
                <td>
                    <input type="number" v-model="product.quantity" :disabled="editingProductId === product.id"
                           class="form-control-sm">
                </td>
                <td>
                    <input type="number" v-model="product.cost" :disabled="editingProductId === product.id"
                           class="form-control-sm">
                </td>
                <td>{{ (calculatePrice(product)).toFixed(2) }}</td>
                <td class="d-flex justify-content-end">

                    <button class="btn btn-outline-dark btn-sm me-1" @click="removeProduct(product)">Usuń</button>
                </td>
            </tr>

            </tbody>
        </table>
        <br>
        <div>Całkowita cena: {{ (totalPrice).toFixed(2) }}</div>
        <br>
        <button type="button" @click="addOrder()" class="btn btn-outline-dark btn-sm me-1"
                data-bs-toggle="modal" data-bs-target="#successModal" :disabled="isLoading">
            <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Dodaj zamówienie</span>
            <span v-else>Dodaj zamówienie</span>>
        </button>
    </div>

    <div id="successModal" ref="successModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ resultText1 }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ resultText2 }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>

    <div id="editModal" :class="{'modal': true, 'fade': true}" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resultText1">{{ resultText1 }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ resultText2 }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>


</template>

<script setup lang="ts">
import {ref, computed} from "vue";

interface Client {
    id: number,
    name: string,
    address: string,
    nip: number
}

interface Product {
    id: number,
    name: string,
    cost: number
}

interface ListProduct {
    id: number,
    name: string,
    cost: number,
    quantity: number,
    product: Product
}

const isLoading = ref(false);
const clients = ref<Client[]>([]);
loadClients()

const selectedClients = ref(clients.value[0]);
const selectedProduct = ref<Product>();
const quantity = ref(0);
const products = ref<Product[]>([]);
const productsToAdd = ref<ListProduct[]>([]);
const selectedDate = ref('');
const resultText1 = ref('');
const resultText2 = ref('');

async function loadClients() {
    isLoading.value = true;

    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/clients`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });
        clients.value = await response.json();
    } catch (error) {
        console.error(error);
    } finally {
        isLoading.value = false;
    }
}

async function loadProducts() {
    isLoading.value = true;

    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/products`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });
        products.value = await response.json();
    } catch (error) {
        console.error(error);
    } finally {
        isLoading.value = false;
    }
}

const addedProducts = ref<ListProduct[]>([]);

function calculatePrice(product: any) {
    return product.cost * product.quantity;
}

const totalPrice = computed(() => {
    let sum = 0;
    addedProducts.value.forEach(product => {
        sum += calculatePrice(product);
    });
    return sum;
});


function printAddedProduct(product: ListProduct) {
    addedProducts.value.push(product);
}

function addProduct() {
    if (selectedProduct.value && quantity.value > 0) {
        const assertedSelectedProduct = selectedProduct.value as Product;
        const newProduct: ListProduct = {
            product: assertedSelectedProduct,
            id: assertedSelectedProduct.id,
            name: assertedSelectedProduct.name,
            cost: assertedSelectedProduct.cost,
            quantity: quantity.value
        };
        productsToAdd.value.push(newProduct); // Dodawanie nowego produktu do listy productsToAdd.value
        selectedProduct.value = undefined;
        quantity.value = 0;
        printAddedProduct(newProduct);
        console.log(productsToAdd.value);
    }
}


async function addOrder() {
    try {
        const responseGroup = await fetch(`http://localhost:${global.backendPort}/api/order-groups`, {
            method: 'POST',
            headers: {
                "Authorization": `Bearer ${global.jwtToken}`
            }
        });
        const orderGroupBody = await responseGroup.json();
        console.log('Products to add:', productsToAdd.value); // Wyświetlanie elementów do dodania

        const updatedProductsToAdd = productsToAdd.value.map((product) => {
            console.log({
                orderGroup: orderGroupBody,
                product: product.product,
                cost: product.cost * product.quantity,
                amount: product.quantity,
                client: selectedClients.value,
                order_date: new Date(selectedDate.value).toISOString().replace('T', ' ').split('.')[0],
                status: "NEW"
            });
            return {
                orderGroup: orderGroupBody,
                product: product.product,
                cost: (product.cost * product.quantity).toFixed(2),
                amount: product.quantity,
                client: selectedClients.value,
                orderDate: new Date(selectedDate.value).toISOString().replace('T', ' ').split('.')[0],
                status: "NEW"
            };
        });

        const responseProducts = await fetch(`http://localhost:${global.backendPort}/api/outbound-orders/many`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${global.jwtToken}`
            },
            body: JSON.stringify(updatedProductsToAdd)
        });

        const responseData = await responseProducts.json();
        console.log(responseData);

        if (responseProducts.ok) {
            console.log('Zamówienie zostało dodane.');
            resultText1.value = "Sukces!";
            resultText2.value = "Zamówienie zostało dodane";
            // Wyczyszczenie listy productsToAdd
            productsToAdd.value = [];

            // Wyczyszczenie listy addedProducts
            addedProducts.value = [];

            // Wyczyszczenie formularza
            selectedProduct.value = undefined;
            quantity.value = 0;
            selectedDate.value = '';

        } else {
            console.error('Błąd podczas dodawania produktów.');
            resultText1.value = "Błąd!";
            resultText2.value = "Zamówienie nie zostało dodane";
        }
    } catch (error) {
        console.error(error);
        resultText1.value = "Błąd!";
        resultText2.value = "Zamówienie nie zostało dodane";
    }
}

function removeProduct(product: ListProduct) {
    const index = productsToAdd.value.findIndex((p) => p.id === product.id);
    if (index !== -1) {
        productsToAdd.value.splice(index, 1); // Usunięcie produktu z listy productsToAdd.value
    }

    const addedProductIndex = addedProducts.value.findIndex((p) => p.id === product.id);
    if (addedProductIndex !== -1) {
        addedProducts.value.splice(addedProductIndex, 1); // Usunięcie produktu z wyświetlanej listy addedProducts.value
    }
}

const editingProductId = ref(0);


loadProducts()
</script>