<script setup lang="ts">
import {ref} from "vue";

interface Order {
    id: number,
    product: {
        id: number,
        name: string,
        cost: number
    },
    orderDate: Date,
    amount: number,
    status: 'NEW' | 'IN_PROGRESS' | 'DONE'
}

const statusMap = {
    NEW: 'Nowe',
    IN_PROGRESS: 'W trakcie',
    DONE: 'Gotowe'
}

const isLoading = ref(false);
const orders = ref<Order[]>([]);

getOrders();

async function getOrders() {
    isLoading.value = true;

    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/inbound-orders`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });
        orders.value = (await response.json()).map((order) => {
            order.orderDate = new Date(order.orderDate);
            return order;
        });
    } catch (error) {
        console.error(error);
    } finally {
        isLoading.value = false;
    }
}

async function deleteOrder(id: number) {
    isLoading.value = true;

    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/inbound-orders/${id}`, {
            method: 'DELETE',
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });
        if (response.ok) {
            alert("Zamówienie zostało usunięte");
            await getOrders();
        } else {
            alert("Nie udało się usunąć zamówienia");
        }
    } catch (error) {
        console.error(error);
    } finally {
        isLoading.value = false;
    }
}

</script>

<template>
    <div class="container">
        <h1>
            Zamówienia
            <span v-if="isLoading" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </h1>
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th>Numer zamówienia</th>
                <th>Produkt</th>
                <th>Data zamówienia</th>
                <th>Ilość</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="order in orders" :key="order.id">
                <td>{{ order.id }}</td>
                <td>{{ order.product.name }}</td>
                <td>{{ order.orderDate.toLocaleDateString() }}</td>
                <td>{{ order.amount }} kg</td>
                <td>{{ statusMap[order.status] }}</td>
                <td>
                    <button v-on:click="deleteOrder(order.id)" class="btn btn-outline-dark btn-sm me-1" :disabled="isLoading">
                        <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Usuń</span>
                        <span v-else>Usuń</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<style scoped>

</style>