<template>
    <div class="container">
        <h1>
            Zamówienia
            <span v-if="isLoading" class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
              </span>
        </h1>
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th>Numer zamówienia</th>
                <th>Klient</th>
                <th>Cena</th>
                <th>Data zamówienia</th>
                <th>Status</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="orderGroup in orderGroups" :key="orderGroup.id">
                <td>{{ orderGroup.id }}</td>
                <td>{{ orderGroup.client }}</td>
                <td>{{ orderGroup.price }} zł</td>
                <td>{{ orderGroup.date.toLocaleDateString() }}</td>
                <td>{{ statusMap[orderGroup.status] }}</td>
                <td>
                    <button v-on:click="deleteOrder(orderGroup.id)" class="btn btn-outline-danger btn-sm me-1">
                        <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status"
                                                     aria-hidden="true"></span>Usuń</span>
                        <span v-else>Usuń</span>
                    </button>
                    <button v-if="orderGroup.status == 'DONE'" v-on:click="showDialog(orderGroup.id)"
                            class="btn btn-outline-dark btn-sm me-1">
                        <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status"
                                                     aria-hidden="true"></span>Wystaw</span>
                        <span v-else>Wystaw</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</template>


<script setup lang="ts">
import {ref} from "vue";
import {ipcRenderer} from "electron";

interface OrderGroupData {
    id: number;
    orders: Order[];
    price: number;

    client: {
        name: string;
    };
}

interface OrderGroup {
    id: number,
    client: string,
    price: number,
    date: Date,
    status: 'NEW' | 'IN_PROGRESS' | 'DONE'
}

interface Order {
    id: number;
    orderDate: Date;
    client: {
        name: string;
    };
    status: 'NEW' | 'IN_PROGRESS' | 'DONE';
}


interface Client {
    id: number,
    name: string,
    address: string,
    nip: number
}

interface Product {
    id: number,
    name: string,
    cost: number
}

const statusMap = {
    NEW: 'Nowe',
    IN_PROGRESS: 'W trakcie',
    DONE: 'Gotowe'
}

const isLoading = ref(false);
const orderGroups = ref<OrderGroup[]>([]);

const editOrderDialogVisible = ref(false);
const editedOrder = ref<Order>();

getOrders()

function showDialog(selectedOrder: number) {
    ipcRenderer.send('show-dialog', selectedOrder, global.jwtToken);
}

function editOrder(order: Order) {
    editOrderDialogVisible.value = true;
    editedOrder.value = Object.assign({}, order);
}

function saveEditedOrder() {
    // kod do zapisywania edytowanego zamówienia
    editOrderDialogVisible.value = false;
}

function cancelEditOrder() {
    editOrderDialogVisible.value = false;
}

async function deleteOrder(id: number) {
    if (!confirm("Czy na pewno usunąć zamówienie?"))
        return;
    const response = await fetch(`http://localhost:${global.backendPort}/api/order-groups/${id}/with-orders`, {
        method: 'DELETE',
        headers: {
            Authorization: `Bearer ${global.jwtToken}`
        }
    });

    if (response.ok) {
        getOrders();
    } else {
        console.error('Failed to delete order:', response.status, response.statusText);
    }
}

async function getOrders() {
    isLoading.value = true;

    try {


        const response = await fetch(`http://localhost:${global.backendPort}/api/order-groups`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });

        if (response.ok) {
            const groupsData: OrderGroupData[] = await response.json();

            orderGroups.value = groupsData.map((order) => {
                return {
                    ...order,
                    client: order.orders.length > 0 ? order.orders[0].client.name : '',
                    status: order.orders.every(order => order.status === 'DONE')
                        ? 'DONE'
                        : (
                            order.orders.every(order => order.status === 'NEW')
                                ? 'NEW'
                                : 'IN_PROGRESS'
                        ),
                    date: new Date(order.orders[0].orderDate)
                }
            });
        } else {
            console.error('Failed to fetch order groups:', response.status, response.statusText);
        }
    } catch (error) {
        console.error('Failed to fetch order groups:', error);
    } finally {
        isLoading.value = false;
    }
}
</script>

<style scoped>

</style>
