<template>
    <div class="container">
        <h1>
            Stan magazynu
            <span v-if="isLoading" class="spinner-border text-primary" role="status">
               <span class="visually-hidden">Loading...</span>
            </span>
        </h1>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwa produktu</th>
                <th scope="col">Ilość w magazynie</th>
                <th scope="col">Cena za kg</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="product in products" :key="product.id">
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity.toFixed(2) }} kg</td>
                <td>{{ product.price }} zł</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script setup lang="ts">
import {ref} from "vue";

interface Product {
    id: number;
    name: string;
    quantity: number;
    price: number;
}

const isLoading = ref(false);
const products = ref<Product[]>([])

loadProducts()

async function loadProducts() {
    interface ProductView {
        id: number,
        name: string,
        amount: number,
        price: number
    }

    try {
        isLoading.value = true;

        const response = await fetch(`http://localhost:${global.backendPort}/api/warehouse-view`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });
        const productsData: ProductView[] = await response.json();

        products.value = productsData.map((batch) => {
            return {
                id: batch.id,
                name: batch.name,
                quantity: batch.amount,
                price: batch.price,
            };
        });
    } catch (error) {
        console.error(error);
    } finally{
        isLoading.value = false;
    }
}
</script>

<style scoped>

</style>