<script setup lang="ts">
import {ref, shallowRef} from "vue"
import {setUser, getUser} from './user.js';

import ConfigView from "./components/ConfigView.vue";
import MainPage from "./components/MainPage.vue";
import AdminPanel from "./modules/admin/AdminPanel.vue";
import WarehouseWorkerPanel from "./modules/warehouseWorker/WarehouseWorkerPanel.vue";
import OfficeWorkerPanel from "./modules/officeWorker/OfficeWorkerPanel.vue";
import WarehouseManagerPanel from "./modules/warehouseManager/WarehouseManagerPanel.vue";
import {ipcRenderer} from "electron";

type Component =
    typeof ConfigView
    | typeof MainPage
    | typeof AdminPanel
    | typeof WarehouseWorkerPanel
    | typeof OfficeWorkerPanel
    | typeof WarehouseManagerPanel

const username = ref('')
const password = ref('')
const activeModule = shallowRef<Component>(ConfigView)
console.log("Test", activeModule.value)

console.log("[App.vue]", `Hello world from Electron ${process.versions.electron}!`)

defineEmits(['return-event', 'swap-event'])

ipcRenderer.on('backend-started', (_, backendPort) => {
    activeModule.value = MainPage;
    global.backendPort = backendPort
})

ipcRenderer.on('backend-stopped', () => {
    activeModule.value = ConfigView;
})

function disconnect() {
    ipcRenderer.send('disconnect')
}

function handleEventReturn() {
    activeModule.value = MainPage;
}

function handleEventSwap(SwappedPanel: Component) {
    activeModule.value = SwappedPanel;
}


function login() {
    const requestOptions = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({username: username.value, password: password.value}),
    };

    fetch(`http://localhost:${global.backendPort}/api/auth/token`, {...requestOptions, mode: 'cors'})
        .then(response => {
            if (response.status === 401) {
                throw new Error('Unauthorized');
            } else if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const token: string = data.token;

            // localStorage.setItem('token', token);
            global.jwtToken = token;

            const decodedToken = parseJwt(token);
            const username = decodedToken.sub;

            const roles = decodedToken.scope.split(' ');

            const user = {name: username, roles};
            setUser(user);

            clearInputFields();

            const roleName = getUser()?.roles[0];

            if (roleName === 'ROLE_ADMIN') {
                activeModule.value = AdminPanel;
            } else if (roleName === 'ROLE_WAREHOUSE') {
                activeModule.value = WarehouseWorkerPanel;
            } else if (roleName === 'ROLE_OFFICE') {
                activeModule.value = OfficeWorkerPanel;
            } else if (roleName === 'ROLE_MANAGER') {
                activeModule.value = WarehouseManagerPanel;
            } else {
                activeModule.value = MainPage;
            }

            // Clearing fields
            const usernameInput = document.getElementById("username") as HTMLInputElement;
            const passwordInput = document.getElementById("password") as HTMLInputElement;

            usernameInput.value = '';
            passwordInput.value = '';
        })
        .catch(error => {
            console.error('Error:', error);
        });
}

function clearInputFields() {
    return new Promise<void>((resolve) => {
        setTimeout(() => {
            username.value = '';
            password.value = '';

            requestAnimationFrame(() => {
                resolve();
            });
        }, 1000); //1 second timeout to clear fields
    });
}

//JWT decoder
function parseJwt(token: string) {
    const base64Url = token.split('.')[1];
    const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
    const jsonPayload = decodeURIComponent(window.atob(base64).split('').map(c => {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));

    return JSON.parse(jsonPayload);
}

</script>

<template>
    <component @return-event="handleEventReturn" @swap-event="handleEventSwap" :is="activeModule"></component>


    <div v-if="activeModule==MainPage" class="d-flex justify-content-center">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">Superhurtownia logowanie</h3>
                        </div>
                        <div class="card-body">
                            <form @submit.prevent="login" id="loginForm">
                                <div class="form-group">
                                    <label for="username">Nazwa użytkownika</label>
                                    <input type="text" class="form-control" id="username" v-model="username" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Hasło</label>
                                    <input type="password" class="form-control" id="password" v-model="password"
                                           required>
                                </div>
                                <div class="d-flex justify-content-between mt-3">
                                    <div>
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-outline-secondary" v-on:click="disconnect()">Rozłącz</button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="text-muted small ">Rozłączenie bazy danych</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>

<style>
</style>
