<template>

    <div class="container">
        <h1>
            Dostawy
            <span v-if="isLoading" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </h1>


        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Produkt</th>
                <th scope="col">Ilość</th>
                <th scope="col">Data zamówienia</th>
                <th scope="col">Data dostawy</th>
                <th scope="col" colspan="2">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="order in orders" :key="order.id">
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.product }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.orderDate.toLocaleDateString() }}</td>
                <td>{{ order.deliveryDate ? order.deliveryDate.toLocaleDateString() : "" }}</td>
                <td>
                    <div v-if="order.status === 'NEW'">
                        <div class="status-frame">
                            <span class="status-text">W drodze</span>
                        </div>
                    </div>
                    <div v-else-if="order.status === 'DONE'">
                        <div class="status-frame">
                            <span class="status-text">Wyładowano</span>
                        </div>
                    </div>
                    <div v-else-if="order.status === 'IN_PROGRESS'">
                        <div class="status-frame">
                            <span class="status-text">Do wyładowania</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div v-if="order.status === 'NEW'">
                        <button v-on:click="updateStatus(order.id, 'IN_PROGRESS')"
                                class="btn btn-outline-dark btn-sm me-1">
                            Dostarczono
                        </button>
                    </div>
                    <div v-else-if="order.status === 'DONE'">
                        <button type="button" class="btn btn-outline-danger btn-sm" v-on:click="deleteOrder(order.id)">
                            Usuń
                        </button>
                    </div>
                    <div v-else-if="order.status === 'IN_PROGRESS'">
                        <button v-on:click="editedOrder = order; editedAmount = order.amount" class="btn btn-outline-dark btn-sm me-1"
                                data-bs-toggle="modal" data-bs-target="#editModal">
                            Edytuj
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Edytowanie zamówienia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input v-model="editedOrder.id" type="hidden" id="id" name="id">
                        <div class="mb-3">
                            <label for="orderAmount" class="form-label">Ilość</label>
                            <input v-model="editedAmount" type="number" class="form-control" id="orderEditAmount"
                                   name="orderAmount" placeholder="Ilość">
                        </div>
                        <div class="mb-3">
                            <label for="expirationDate" class="form-label">Data ważności</label>
                            <input v-model="editedDate" type="date" class="form-control"
                                   id="orderEditExpirationDate" name="orderExpirationDate" placeholder="Data ważności">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="createBatch()">
                        Zapisz
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import 'bootstrap/js/dist/modal'
import {ref} from "vue";

const isLoading = ref(false);

loadInboundOrders()

interface Order {
    id: number;
    product: string;
    amount: number;
    orderDate: Date;
    deliveryDate: Date | null;
    status: 'DONE' | 'IN_PROGRESS' | 'NEW';
}

interface Batch {
    product: {
        id: number,
        name: string,
        cost: number
    },
    amount: number;
    deliveryDate: string;
    expirationDate: string;
}

interface OrderData {
    id: number,
    orderDate: string,
    status: 'DONE' | 'IN_PROGRESS' | 'NEW',
    product: {
        id: number,
        name: string,
        cost: number
    },
    deliveryDate: string,
    amount: number
}


const orders = ref<Order[]>([])
const editedOrder = ref<Order>({id: 0, product: "", orderDate: new Date(), amount: 0, deliveryDate: null, status: "IN_PROGRESS"})
const editedDate = ref("")
const editedAmount = ref(0)

async function createBatch() {
   try {
       const orderRequest = await fetch(`http://localhost:${global.backendPort}/api/inbound-orders/${editedOrder.value.id}`, {
           headers: {
               Authorization: `Bearer ${global.jwtToken}`
           }
       })

       const order: OrderData = await orderRequest.json()

       const batch: Batch = {
           product: order.product,
           amount: editedAmount.value,
           deliveryDate: editedOrder.value.deliveryDate ? editedOrder.value.deliveryDate.toISOString().replace("T", " ").split(".")[0] : "",
           expirationDate: new Date(editedDate.value).toISOString().replace("T", " ").split(".")[0]
       }

       const batchRequest = await fetch(`http://localhost:${global.backendPort}/api/batches`, {
           method: "POST",
           headers: {
               "Content-Type": "application/json",
               Authorization: `Bearer ${global.jwtToken}`
           },
           body: JSON.stringify(batch)
       })

       const response = await batchRequest
       if (!response.ok) {
           throw new Error("Network response was not ok")
       }
       updateStatus(editedOrder.value.id, "DONE")

   } catch (error) {
       console.error('Failed create batch:', error);
   }
}

async function loadInboundOrders() {

    isLoading.value = true;

    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/inbound-orders`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });
        console.log(response)

        console.log(orders.value)

        const ordersData: OrderData[] = await response.json()

        orders.value = ordersData.map((order) => {
            return {
                id: order.id,
                product: order.product.name,
                amount: order.amount,
                orderDate: new Date(order.orderDate),
                deliveryDate: order.deliveryDate ? new Date(order.deliveryDate) : null,
                status: order.status
            }
        })

    } catch (error) {
        console.error(error)
    } finally {
        isLoading.value = false;
    }
}

async function updateStatus(id: number, status: 'DONE' | 'IN_PROGRESS' | 'NEW') {
    try {
        const response = await fetch(`http://localhost:${global.backendPort}/api/inbound-orders/${id}`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });
        const order = await response.json()
        console.log(order)
        order.status = status
        if (status == "IN_PROGRESS") {
            order.deliveryDate = new Date().toISOString().replace("T", " ").split(".")[0]
        }
        fetch(`http://localhost:${global.backendPort}/api/inbound-orders/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${global.jwtToken}`
            },
            body: JSON.stringify(order)
        }).then(async (response) => {
            if (response.ok) {
                await loadInboundOrders()
                alert("Zapisano pomyślnie!")
            } else throw new Error("Network response was not ok")
        })
    } catch (error) {
        console.error('Error updating batch:', error)
        alert("Nie udało się zapisać statusu zamówienia nr. " + id)
    }
}

async function deleteOrder(id: number) {
    if (!confirm("Czy na pewno chcesz usunąć zamówienie?")) {
        return
    }

    fetch(`http://localhost:${global.backendPort}/api/inbound-orders/${id}`, {
        method: "DELETE",
        headers: {
            Authorization: `Bearer ${global.jwtToken}`
        }
    })
        .then((response) => {
            if (!response.ok) {
                throw new Error("Network response was not ok")
            }

            loadInboundOrders();
        })
        .catch((error) => {
            console.error("Error Delete order:", error)
        });
}

</script>

<style scoped>
.status-frame {
    display: flex;
    padding: 4px 8px;
}

.status-text {
    margin-right: 8px;
}
</style>