<template>
    <div class="container">
        <h1>
            Zadania
            <span v-if="isLoading" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </h1>

        <button v-if="!isLoading" type="button" class="btn btn-dark btn-sm m-1" data-bs-toggle="modal"
                data-bs-target="#addModal">
            Dodaj Zadanie
        </button>
        <button v-else type="button" class="btn btn-dark btn-sm m-1" disabled><span
                class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
            Dodaj Zadanie
        </button>


        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Numer</th>
                <th>Grupa zadań</th>
                <th>Status</th>
                <th>Zadania</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="task in tasks" :key="task.id" class="align-items-center">
                <th scope="row">{{ task.id }}</th>
                <td>Grupa {{ task.orderGroup.id }}</td>
                <td>{{ statusTextMap[task.status] }}</td>
                <td>
                    <template v-for="ordergroup in orderGroups.filter(ordergroup => ordergroup.id === task.orderGroup.id)" :key="ordergroup.id">
                        <template v-for="order in ordergroup.orders" :key="order.id">
                            <li>
                                {{ order.product.name }}, {{order.amount}} kg
                                na {{ new Date(order.orderDate).toLocaleDateString() }}
                                dla {{ order.client.name }}
                            </li>
                        </template>
                    </template>
                </td>
                <td>
                    <!----<button type="button" class="btn btn-outline-dark btn-sm me-1" data-bs-toggle="modal" data-bs-target="#editModal"> edycja chyba nie potrzebna od strony kierownika
                        Edytuj
                    </button>-->
                    <button type="button" class="btn btn-outline-dark btn-sm me-1" data-bs-toggle="modal"
                            data-bs-target="#deleteModal" v-on:click="deleteTaskId = task.id">
                        <span v-if="isLoading"><span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Usuń</span>
                        <span v-else>Usuń</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Edycja zadania</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="id" name="id">
                        <div class="mb-3">
                            <label for="firstName" class="form-label">Zadanie</label>
                            <input type="text" class="form-control" id="taskName" name="taskName" placeholder="Zadanie">
                        </div>
                        <div class="mb-3">
                            <label for="firstName" class="form-label">Opis zadania</label>
                            <input type="text" class="form-control" id="taskDescription" name="taskDescription"
                                   placeholder="Opis">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Zapisz</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Na pewno?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Na pewno chcesz zakończyć to zadanie?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                            v-on:click="deleteTask(deleteTaskId)">Usuń
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Dodawanie zadania</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="order-select">Zamówienia do przydzielenia</label>
                        <select id="order-select" class="form-control" v-model="selectedOrderGroup">
                            <option v-for="ordergroup in orderGroups" :value=ordergroup :key="ordergroup.id">
                                Grupa {{ ordergroup.id }}
                                <template v-for="order in ordergroup.orders" :key="order.id">
                                    <li>(
                                        {{ order.product.name }} {{order.amount}} kg
                                        na {{ new Date(order.orderDate).toLocaleDateString() }}
                                        dla {{ order.client.name }}
                                        )
                                    </li>
                                </template>
                            </option>
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                            v-on:click="addTask(selectedOrderGroup)">Dodaj
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import {ref} from 'vue';

interface Task {
    id: number,
    status: 'NEW' | 'IN_PROGRESS' | 'DONE',
    orderGroup: OrderGroup,
    //team: string
}

interface OrderGroup {
    id: number,
    orders: Order[],
    price: number
}

interface Order {
    id: number,
    orderDate: string,
    status: 'NEW' | 'IN_PROGRESS' | 'DONE',
    amount: number,
    product: {
        id: number,
        name: string,
        cost: number
    },
    client: {
        id: number,
        name: string,
        address: string,
        nip: number
    }
}


const selectedOrderGroup = ref<OrderGroup>({
    id: 0,
    orders: [],
    price: 0
})
const deleteTaskId = ref(0)

const isLoading = ref(false);

const tasks = ref<Task[]>([])
const orders = ref<Order[]>([])
const orderGroups = ref<OrderGroup[]>([])

const statusTextMap = {
    NEW: 'Nie zrobione',
    IN_PROGRESS: 'W trakcie',
    DONE: 'Zrobione',
};


loadData()

async function loadData() {
    isLoading.value = true;

    try {

        const tasksPromise = await fetch(`http://localhost:${global.backendPort}/api/tasks-team`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });

        const ordersPromise = fetch(`http://localhost:${global.backendPort}/api/outbound-orders`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });

        const orderGroupsPromise = fetch(`http://localhost:${global.backendPort}/api/order-groups`, {
            headers: {
                Authorization: `Bearer ${global.jwtToken}`
            }
        });

        const [tasksResponse, ordersResponse, orderGroupsResponse] = await Promise.all([
            tasksPromise,
            ordersPromise,
            orderGroupsPromise,
        ]);

        console.log(tasks)

        tasks.value = await tasksResponse.json();
        orders.value = await ordersResponse.json();
        orderGroups.value = await orderGroupsResponse.json();
    } catch (error) {
        console.error(error);
    } finally {
        isLoading.value = false;
    }
}


function addTask(order: OrderGroup) {
    const orderGroup = {id: order.id};
    const task = {status: 'IN_PROGRESS', orderGroup};

    console.log(task);
    console.log(JSON.stringify(task));

    fetch(`http://localhost:${global.backendPort}/api/tasks-team`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${global.jwtToken}`
        },
        body: JSON.stringify(task),
    })
        .then((response) => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }


            loadData();
        })
        .catch((error) => {
            console.error("Error adding task:", error);
        });
}

function deleteTask(id: number) {
    console.log(`Deleting task with ID ${id}`)


    fetch(`http://localhost:${global.backendPort}/api/tasks/${id}`, {
        method: "DELETE",
        headers: {
            Authorization: `Bearer ${global.jwtToken}`
        },
    })
        .then((response) => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }

            loadData();
        })
        .catch((error) => {
            console.error("Error deleting task:", error);
        });
}


</script>

<style scoped>

</style>
